.profile {
  padding: 70px 30px 40px;
  min-height: 706px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile__content {
  display: flex;
  flex-direction: column;
}

.profile__title {
  margin-top: 0;
  margin-bottom: 80px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000;
}

.profile__data-list {
  list-style-type: none;
  border-bottom: 1px solid #E8E8E8;
  padding-left: 0;
  padding-bottom: 16px;
  margin-top: 0;
  margin-bottom: 17px;
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #000;
}

.profile__data-list:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.profile__label {
  font-style: inherit;
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
}

.profile__data {
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

.profile__items-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__item {
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000;
  transition: all 1s ease;
}

.profile__item:last-child {
  margin-bottom: 0;
}

.profile__edit-button {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.profile__signout-button {
  text-decoration: none;
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
  color: #FF004D;
  cursor: pointer;
}

/* 768 */

@media (min-width: 768px) {
  .profile {
    padding: 236px 179px 269px;
    min-height: 950px;
  }

  .profile__title {
    margin-bottom: 96px;
  }

  .profile__item {
    font-size: 13px;
    line-height: 16px;
  }
}

/* 1280 */

@media (min-width: 1280px) {
  .profile {
    padding: 74px 435px 70px;
    min-height: 626px;
  }

  .profile__title {
    margin-bottom: 123px;
  }

  .profile__item:hover {
    opacity: .7;
    transition: all 1s ease;
  }
}