.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 18px 14px;
  background: #073042;
}

@media (min-width: 768px) {
  .header {
    padding: 18px 30px;
  }
}

@media (min-width: 1280px) {
  .header {
    padding: 18px 70px;
  }
}