.auth-page {
  padding: 56px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-page__title {
  margin-top: 50px;
  margin-bottom: 80px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000;
}

.auth-page__footer {
  display: flex;
  margin-top: 14px;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.auth-page__question {
  margin: 0;
  margin-right: 7px;
  color: #A0A0A0;
}

.auth-page__route {
  text-decoration: none;
  color: #2BE080;
  transition: all 1s ease;
}

/* 768 */

@media (min-width: 768px) {
  .auth-page {
    padding: 232px 186px;
  }

  .auth-page__title {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .auth-page__footer {
    margin-top: 16px;
    font-size: 14px;
    line-height: 17px;
  }
}

/* 1280 */

@media (min-width: 1280px) {
  .auth-page {
    padding: 70px 442px;
  }

  .auth-page__route:hover {
    opacity: .8;
    transition: all 1s ease;
  }
}